.sliderCardMainContainer {
  padding: 106px 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 120px;
}

/* heading section  */
.headingSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingContainer{
  display: flex;
  flex-direction: column;
}
.headingSection > h1{
  color:white;
font-family: Helvetica;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: 106px; /* 124.706% */
letter-spacing: 2.55px;
max-width: 730px;
}
.getInTouch{
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: end;
  gap: 6px;
  transform: rotate(-45deg);
  cursor: pointer;
}
.getInTouch > span{
  color: #DFF1F7;
text-align: center;
font-family: Averia Serif Libre;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 25.2px */
}

/* social icons section  */
.socialIconContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialIcons{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 44px;
  cursor: pointer;
}

.socialIcons > img{
  width: 18px;
}

@media (max-width:780px){
  .headingSection > h1{
    font-size: 32px;
    line-height: 44px;
    margin-top: 24px;
  }
  .sliderCardMainContainer {
    padding: 106px 64px;
  
  }
}
@media (max-width:480px){
  .headingSection > h1{
    font-size:24px;
    line-height: 32px;
  }
  .sliderCardMainContainer {
    padding: 106px 24px;
  
  }
}