.body {
  font-family: Helvetica;
  margin: 40px 20px;
}

h3 {
  font-weight: 600;
}

h4 {
  color: #454646 !important;
}

hr {
  border-top: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, White, DimGrey, White) border-box;
}

a {
  text-decoration: none;
}

.custom-container {
  min-width: 480px;
  max-width: 860px;
  min-height: 440px;
  border: 1px solid DimGrey;
  margin: auto;
  display: flex !important;
  flex-direction: row !important;
}

.section {
  min-width: 300px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.main-text {
  max-height: 440px;
  overflow: hidden;
  font-weight: 200;
  font-size: 18px;
  cursor: text;
  color: DimGrey;
  margin: 0px 25px 25px 25px;
  display: none;
}

.button-thin {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid LightGrey;
  border-radius: 50%;
  background-color: transparent;
  & sl-icon {
    position: relative;
    top: 3px;
    left: 1px;
  }
}

.section-1 {
  border-right: 1px solid DimGrey;
  background-color: #ff5b46;
  & h3 {
    color: #ff5b46;
  }
  & button {
    color: #ff5b46;
    border-color: #ff5b46;
  }
}

.section-2 {
  border-right: 1px solid DimGrey;
  background-color: #cc3c29;
  & h3 {
    color: #cc3c29;
  }
  & button {
    color: #cc3c29;
    border-color: #cc3c29;
  }
}
.section-3 {
  background-color: #992314;
  & h3 {
    color: #992314;
  }
  & button {
    color: #992314;
    border-color: #992314;
  }
}
.section-4 {
  background-color: #661106;
  & h3 {
    color: #661106;
  }
  & button {
    color: #661106;
    border-color: #661106;
  }
}

.grow {
  flex: 5;
  background-color: white;
  & h3 {
    padding: 20px 0px 20px 20px;
  }
  & button {
    margin: 20px 20px 0px 20px;
    transform: rotate(180deg);
  }
  & div {
    justify-content: center;
  }
}

.shrink {
  min-width: 65px;
  flex: 0.1;
  & h3 {
    color: WhiteSmoke;
    transform-origin: 20% 100%;
    writing-mode: vertical-rl;
    margin: 20px 0px 15px 15px;
  }
  & button {
    color: WhiteSmoke;
    border: 1px solid WhiteSmoke;
    margin: 20px 0px 0px 10px;
  }
}

@keyframes slide {
  from {
    transform: translateY(-120px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.animate {
  animation: slide 0.4s ease;
}

.shadow-dark {
  box-shadow: -12px 0px 20px -15px DimGrey inset;
}

.shadow-blue {
  box-shadow: -12px 0px 20px -15px #0a3a69 inset;
}

.shadow-pink {
  box-shadow: -12px 0px 20px -15px #50213b inset;
}

.shadow-orange {
  box-shadow: -12px 0px 20px -15px #63410b inset;
}

/* Card*/
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(33.33% - 10px);
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.card-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blue-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(102, 17, 6);
  background: linear-gradient(
    0deg,
    rgba(102, 17, 6, 1) 0%,
    rgba(102, 17, 6, 0.8687850140056023) 53%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.person-info {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.person-name {
  font-size: 16px;
  margin-bottom: 4px;
}

.designation {
  font-size: 12px;
}

.card-body {
  padding: 16px;
}

.card-text {
  font-size: 16px;
}
@media (max-width: 780px) {
  .custom-container {
    width: 90%;
    min-width: 300px;
    display: flex !important;
    flex-direction: column !important;
    min-height: fit-content;
  }
  .card {
    width: 90%;
    max-width: 400px;
    height: 500px;
  }
  .shrink {
    & h3 {
      color: WhiteSmoke;
      transform-origin: 20% 100%;
      writing-mode: horizontal-tb;
      margin: 20px 0px 15px 15px;
    }
  }
}
