.logo {
  padding: 45px 122px;
}
.team__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.teamMainHeader {
  padding: 0px 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.team__header > h1 {
  color: #272727;
  font-family: Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 106px; /* 147.222% */
  letter-spacing: 2.16px;
}
.team__header > h1 > span {
  color: #ff5b46;
}
.team__header > p {
  color: #4a4a4a;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.54px;
  max-width: 681px;
}
.team__header > button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #8a8a8a;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  letter-spacing: 0.42px;
  border-radius: 30px;
  border: 1px solid #a4a4a4;
  background-color: white;
  cursor: pointer;
}

/* title card  */
.titleCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.titleCard > h1 {
  color: #272727;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.titleCard > h1 > span {
  color: #ff5b46;
}
.titleCard > p {
  color: #4a4a4a;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  letter-spacing: 0.54px;
  max-width: 336px;
}
/*Team Section*/
.teamSection > h1 {
  color: #272727;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.teamSection > h1 > span {
  color: #ff5b46;
}
/* our team container  */
.ourTeamContainer {
  padding: 150px 0px;
}
.ourTeamContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* single person styles  */
.singleCard > img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.6s ease-in-out;
  background-size: cover;
  object-fit: cover;
}
.singleCard > img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

@media (max-width: 680px) {
  .logo {
    padding: 45px 24px;
  }
  .logo > img {
    width: 160px;
    height: 64px;
  }
  .teamMainHeader {
    padding: 0px 24px;
  }

  .team__header > h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .team__header > p {
    font-size: 18px;
    max-width: 100%;
  }
}
